[Desktop Entry]
Name=blackwidow
Encoding=UTF-8
Exec=bash-wrapper "sudo blackwidow"
Icon=kali-www
StartupNotify=false
Terminal=true
Type=Application
Categories=03-webapp-analysis;
X-Kali-Package=blackwidow
Comment=
Path=
